.container {
    display: flex;
    flex-direction: row;
    font-family: Calibri, serif;
    background-color: darkcyan;
    justify-content: space-around;
    gap: 50vw;

}

.dropdown{
    background-color: burlywood;
}

.dropdown-content{
    display:none;
}

.dropdown:hover .dropdown-content{
    background-color: brown;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
    position: absolute;
    overflow: hidden;
}

.dropdown-content a{
    padding: 10px;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: grey;

}
.profile-icon {
    height: 100px;
    width: 100px;
}

.profile-icon:hover {

}