.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50vw;
    height: 110px;
}

.header-title {
    font-family: "Brush Script MT", serif;
    font-size: xx-large;
}

.dropdown{
    background-color: whitesmoke;
    border-radius: 50%;
    font-family: Verdana, serif;
}

.dropdown-content{
    display:none;
}

.dropdown:hover .dropdown-content{
    background-color: ghostwhite;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
    position: absolute;
    overflow: hidden;
}

.dropdown-content a{
    padding: 10px;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: #8080801c;
}

.profile-icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

body {
    background-color: #EFEFEF;
}